@import 'tailwindcss';
/* @plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  /* background: #000; */
  overflow: hidden;
}


